<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clip_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Clip_Manager.Properties.Settings>
            <setting name="RecentlyUsedPath0" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath5" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath6" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath7" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath8" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath9" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedPath10" serializeAs="String">
                <value />
            </setting>
        </Clip_Manager.Properties.Settings>
    </userSettings>
</configuration>